#{extends 'main.html' /}
#{set title:'Cadastro de turmas' /}


<form action="@{Turmas.salvar}">


 <div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center custom-login">
				
				
				#{if turma?.id}
				<h2>Edição de turma</h2>
				<p>Adicione novas disciplinas</p>
				#{/if}
				#{else}
				<h2>Cadastro de turma</h2>
				<p>Registre uma nova turma!</p>
				#{/else}
				
				
				
				
			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="row">
                            	<input type="hidden" name="turma.id" value="${turma?.id}"> 
                            	   <div class="form-group col-lg-12">
                                   <label for = "curso" >Curso:</label>
                                   <input id="curso" type="text" name="turma.curso" value="${turma?.curso}" class="form-control" >
                                   #{error 'turma.curso' /}
                                	
                                </div>
                               
                                <div class="form-group col-lg-6">
                                     <label for = "ano" >Ano:</label>
                                   <input id="ano" type="text" name="turma.ano" value="${turma?.ano}" class="form-control" >
                                 #{error 'turma.ano' /}
                                </div> 
                                
                                <div class="form-group col-lg-6">
                                     <label for = "nome" >Nome:</label>
                                   <input id="nome" type="text" name="turma.nome" value="${turma?.nome}" class="form-control" >
                                 #{error 'turma.nome' /}
                                </div>
                                 <div class="form-group col-lg-6">
                                     <label for = "turno" >Turno:</label>
                                   <input id="turno" type="text" name="turma.turno" value="${turma?.turno}" class="form-control" >
                                 #{error 'turma.turno' /}
                                </div>
                                
                                #{if turma?.id}
                                
                               <!--  <div class="form-group col-lg-6">
									<label for ="d">Disciplinas:</label>
										#{list items: disciplinas, as: 'dis'}
										<input type="checkbox" name="IDdisciplinas" value = "${dis.id}"> //checked
										
										 ${dis.nome} </br>
										#{/list} -->
                                
                                <div class="form-group col-lg-6">
									<label for ="d">Disciplinas:</label>
									<select name="IDdisciplinas" class="form-control" id ="d">
										<option value="none" selected="" disabled="">Selecione a disciplina</option>
										#{list items: disciplinas, as: 'dis'}
										<option value="${dis.id}">${dis.nome}</option>
										#{/list}
									</select>
								</div>
                                
                                
                                
                                #{/if}
                                
                               
                               
                                 
                            </div>
                            <div class="butao">
                                <button type="submit" class="btn btn-success loginbtn">Cadastrar</button>
                              
                            </div>
                        </form>
                    </div>
                </div>
			</div>
			
		</div>   
    </div>
</form>